$adentta-01: #293881 !important;
$adentta-02: #98b4de !important;
$adentta-03: #293881 !important;
$adentta-04: #f0ece3 !important;
$adentta-05: #ddd2bf !important;
$adentta-06: #29282f !important;

.headerTop {
  height: 4rem;
  background-color: $adentta-04;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  p {
    color: #656054;
  }
  .headerTopItem {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .headerTopLink {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 0.5rem;
    span {
      flex-shrink: 0;
      img {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
  .headerTopClose {
    position: absolute;
    right: 2rem;
    color: #656054;
    font-size: 1.5rem;
  }
}

.headerMenu {
  // margin-top: 2.4rem;
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 19.4rem;
    height: 3.84rem;
    object-fit: cover;
  }
  .headerMenuLeft {
    display: flex;
    .logo {
      img {
        width: 19.4rem;
        height: 3.841rem;
        flex-shrink: 0;
      }
    }
  }
  .headerMenuItem {
    ul {
      display: flex;
      gap: 2.3rem;
      li {
        display: flex;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $adentta-01;
        gap: 0.4rem;
        padding: 1rem 0;
        &:hover {
          .productsLinkName {
            color: $adentta-02;
            transition: all 0.4s ease;
          }
          .bottomDown {
            transition: all 0.4s ease;
            transform: rotate(180deg);
          }
        }
        img {
          cursor: pointer;
          width: 1.9rem;
          height: 1.9rem;
        }
      }
    }
    .dropdown {
      position: relative;
    }
    .dropdown-content {
      // max-height: 67rem;
      overflow-y: auto;
      display: none;
      position: absolute;
      z-index: 99;
      top: 100% !important;
      width: 130rem;
      flex-shrink: 0;
      left: 36.2%;
      transform: translateX(-36.2%);
      border-radius: 1.4rem;
      border: 1px solid rgba(151, 179, 221, 0.3);
      border-top: none;
      background: #fff;
      box-shadow: 1px 4.5px 4.5px 0px rgba(141, 141, 141, 0.2);
      // padding-right: 10rem;
      // padding-left: 10rem;
      padding-right: 3rem;
      padding-left: 3rem;
      transition: all 0.5s ease;
      .dropHeader {
        h4 {
          color: $adentta-01;
          font-size: 3.2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 4rem; /* 125% */
          text-transform: capitalize;
          padding-top: 4.4rem;
        }
      }
      .rower {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        flex-wrap: wrap;
        padding-top: 2.4rem;
        padding-bottom: 4.5rem;
        .rowerd {
          display: flex;
          // justify-content: space-between;
          gap: 2rem;
          flex-wrap: wrap;
        }
        .column {
          display: flex;
          flex-direction: column;
          .productDropMenuImages {
            width: 25.0504rem;
            height: 19.7739rem;
            flex-shrink: 0;
            .dropProductLinks {
              display: flex;
              gap: 1rem;
              padding-top: 1rem;
              padding-left: 1rem;
              img {
                width: 1.8rem;
                height: 1.8rem;
              }
            }
            img {
              width: 100%;
              height: 100%;
            }
            &:hover {
              .dropProductLinks {
                img {
                  transform: translate(4px, -4px);
                  transition: all 0.4s ease;
                }
              }
            }
          }
          h3 {
            display: flex;
            gap: 1.45rem;
            align-items: center;
            justify-content: center;
            border-radius: 1.5rem;
            background: #fff;
            box-shadow: 2.5px 4px 6.2px 0px rgba(28, 39, 89, 0.05);
            width: 22.2002rem;
            height: 5.2463rem;
            padding: 2rem;
            flex-shrink: 0;
            img {
              width: 3rem;
              height: 2.9rem;
              flex-shrink: 0;
              object-fit: contain;
            }
            span {
              color: $adentta-01;
              font-size: 1.6rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.032rem;
            }
          }
          .columnLinks {
            padding-top: 2.78rem;
            padding-left: 2.49rem;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            color: #3f52b0;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.028rem;
            transition: all 0.4s ease;
            a {
              font-size: 1.4rem;
              &:hover {
                color: #202054;
                transition: all 0.4s ease;
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
      transition: all 0.5s ease-in-out;
    }
  }
  // .dropLine {
  //   width: 110.4769rem;
  //   margin-top: 5rem;
  //   margin-bottom: 5rem;
  //   height: 0.1rem;
  //   opacity: 0.4;
  //   background: #cbd9ef;
  // }
  @media (max-width: 1024px) {
    .dropdown-content {
      width: 110rem !important;
      padding-right: 5rem;
      padding-left: 5rem;
    }
    .rower .column {
      h3 {
        width: 18rem;
        height: 4.5rem;
      }
    }
  }
  // ----------COMPANY DROPDOWN----------------
  .dropdownCompany {
    position: relative;
  }

  .dropdown-contentCompany {
    display: none;
    position: absolute;
    z-index: 99;
    // top: 11.2rem;
    top: 100% !important;
    width: 30rem;
    flex-shrink: 0;
    border-radius: 1.4rem;
    border: 1px solid rgba(151, 179, 221, 0.3);
    border-top: none;
    background: #fff;
    box-shadow: 1px 4.5px 4.5px 0px rgba(141, 141, 141, 0.2);
    transition: all 0.5s ease;
    .dropCompany {
      padding: 2rem 3rem;
      // padding: 3rem;
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          &:hover {
            transform: scale(1.05);
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
  .dropdownCompany:hover .dropdown-contentCompany {
    display: block;
    transition: all 0.5s ease;
    top: 112px;
  }

  // @media (max-width: 2001px) {
  //   .dropdown-content {
  //     top: 115px !important;
  //   }
  //   .dropdown-contentCompany {
  //     top: 115px !important;
  //   }
  //   .dropdown-contentMedia {
  //     top: 115px !important;
  //   }
  // }
  // @media (min-width: 2000px) {
  //   .dropdown-content {
  //     top: 150px !important;
  //   }
  //   .dropdown-contentCompany {
  //     top: 150px !important;
  //   }
  //   .dropdown-contentMedia {
  //     top: 150px !important;
  //   }
  // }
  // @media (max-width: 1364px) {
  //   .dropdown-contentCompany {
  //     top: 90px !important;
  //   }
  //   .dropdown-contentMedia {
  //     top: 90px !important;
  //   }
  //   .dropdown-content {
  //     top: 100px !important;
  //   }
  // }

  // @media (max-width: 1024px) {
  //   .dropdown-contentCompany {
  //     top: 75px !important;
  //   }
  //   .dropdown-content {
  //     top: 85px !important;
  //   }
  //   .dropdown-contentMedia {
  //     top: 75px !important;
  //   }
  // }
  //-----------------------------------

  .dropdownMedia {
    position: relative;
  }
  .dropdown-contentMedia {
    display: none;
    position: absolute;
    z-index: 99;
    top: 100% !important;
    // top: 112px;
    // top: 15.2%;
    width: 30rem;
    flex-shrink: 0;
    border-radius: 1.4rem;
    border: 1px solid rgba(151, 179, 221, 0.3);
    border-top: none;
    background: #fff;
    box-shadow: 1px 4.5px 4.5px 0px rgba(141, 141, 141, 0.2);
    transition: all 0.5s ease;
    .dropMedia {
      // padding: 3rem;
      padding: 2rem 3rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          &:hover {
            transform: scale(1.05);
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
  .dropdownMedia:hover .dropdown-contentMedia {
    display: block;
    transition: all 0.5s ease;
  }
  //-----------------------------------
  .headerMenuRight {
    display: flex;
    gap: 2.7rem;
    .changeLang {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 3.3rem;
      flex-shrink: 0;
      border-radius: 13px;
      border: 1px solid #bdcfea;
      position: relative;
      cursor: pointer;
    }
    .changeLang span {
      color: #4a4a4a;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .changeLang img {
      width: 1.9rem;
      height: 1.9rem;
    }
    .langOptions {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      border-radius: 0.8rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;
      padding: 10px 0;
      border: 1px solid #bdcfea;
    }
    .langOptions button {
      padding: 1rem 2rem;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 700;
    }
    .langOptions button:hover {
      background-color: #f0f0f0;
    }
    .looops {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: #293881;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.0011rem;
      }
    }
    .langOptions {
      margin-top: 1.2rem;
      width: 6rem;
      flex-shrink: 0;
      border-radius: 1.3rem;
      border: 1px solid #bdcfea;
      background: #fff;
      gap: 0.5rem;
      button {
        color: #293881;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 100%;
        letter-spacing: -0.0011rem;
      }
    }
    .searchButton {
      // background-color: white;
      .searchIconHead {
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0;
      }
    }
  }
}

.mobileMenuIcon {
  display: none;
  img {
    width: 4.4rem;
    height: 4.4rem;
    flex-shrink: 0;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .headerMenu {
    padding: 2.6rem 2.6rem !important;
    padding-top: 5rem !important;
    position: relative;
    .mobileMenuIcon {
      display: block !important;
      position: absolute;
      left: 1rem;
    }
    .headerMenuLeft {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .headerMenuRight {
      position: absolute;
      right: 1rem;
      .changeLang {
        display: none !important;
      }
    }

    .headerMenuItem {
      display: none !important;
    }
  }
}

// ! searchPopup   Calisan kod

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -20%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 48, 85, 0.8);
  z-index: 1000;
}

.searchPopup {
  animation: popupFadeIn 0.4s ease-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 107.1rem;
  flex-shrink: 0;
  border-radius: 2rem;
  background-color: white;
  z-index: 1001;
  overflow: hidden;
  .searchPopupHeader {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2.8rem;
    padding-right: 4.12rem;
    img {
      width: 3.5rem;
      height: 3.5rem;
      flex-shrink: 0;
      opacity: 0.5;
    }
  }
  .searchPopupInner {
    padding-top: 0.4rem;
    padding-left: 7rem;
    padding-right: 12.5rem;
    height: 45rem;
    .searchingInput {
      display: flex;
      gap: 2.35rem;
      img {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        opacity: 0.88;
      }
      input {
        width: 100%;
        height: 2rem;
        color: #898da2;
        color: #293881 !important;
        font-size: 1.8rem;
        // font-family: SF Pro Rounded;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.034rem;
        opacity: 0.88;
      }
    }
    .searchBottomLine {
      width: 100%;
      max-width: 87.2rem;
      height: 0.1rem;
      opacity: 0.34;
      background: #98b4de;
      margin-top: 1.8rem;
    }
    .searchPopupContentAll {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      width: 100%;
      height: 100% !important;
      overflow-y: auto; /* Buraya kaydırma ekledik */
      max-height: calc(
        45rem - 5rem
      ); /* İçeriğin sığabileceği alana kaydırma ekler */

      gap: 2.6rem;
      span {
        padding-top: 3.2rem;
        color: #202054;
        opacity: 0.5;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .searchPopupContent {
        padding-top: 1.8rem;
        height: 100% !important;
        display: flex;
        // border: 0.5px solid #cbd9ef;
        flex-direction: column;
        gap: 2rem;
        .searchPopupContentInner {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem;
        }
        img {
          width: 15rem;
          height: 15rem;
          object-fit: cover;
        }
        h3 {
          color: #3f3fc8;
          font-size: 1.7rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.034rem;
          text-transform: uppercase;
          padding-bottom: 0.8rem;
        }
        p {
          color: #000;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 155%;
        }
        .prdtsTest {
          padding-top: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1.6rem;
          img {
            object-fit: cover;
            width: 4.5rem;
            height: 3.5rem;
            flex-shrink: 0;
          }
        }
      }
      .popupSeeMore {
        display: flex;
        width: 10.6rem;
        height: 1.9rem;
        align-items: center;
        gap: 0.6rem;
        padding-top: 5rem;
        flex-shrink: 0;
        color: #202054;
        text-align: center;
        font-size: 1.5611rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.0012rem;
        padding-bottom: 4rem;
        img {
          width: 1.3876rem;
          height: 1.3876rem;
          flex-shrink: 0;
        }
      }
    }
  }
}

@media (max-width: 1224px) {
  .searchPopup {
    width: 85% !important;
    padding: 2rem;

    border-radius: 5rem;
  }
}
@media (max-width: 768px) {
  .searchPopup {
    width: 85% !important;
    height: auto;
    padding: 2rem;
    border-radius: 5rem !important;
  }
  .searchPopupInner {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .prdtsTest {
    gap: 1rem;
    justify-content: flex-start !important;
  }
  .searchPopupContent {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
    h3 {
      font-size: 2rem !important;
    }
    p {
      font-size: 1.7rem !important;
    }
  }
}
@media (max-width: 480px) {
  .searchPopup {
    width: 90% !important;
    max-width: 95% !important;
    height: auto !important;
  }
  .searchPopupInner {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
@media (max-width: 420px) {
  .searchPopup {
    width: 90% !important;
    max-width: 95% !important;
    height: auto !important;
  }
}
@media (max-width: 375px) {
  .searchPopup {
    width: 90% !important;
    max-width: 95% !important;
    height: auto !important;
  }
}

// ! searchPopup   Calisan kod

// ! MobileMenu
// ? MobileMenu.jsx

.overlaye {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(123, 123, 146, 0.6);
  z-index: 999;
  animation: fadeIn 0.3s ease-out forwards;
}
.mobileMenu {
  position: fixed !important;
  top: 95px;
  left: 0;
  z-index: 1000;
  animation: slideDown 0.3s ease-out forwards;
}
.mobileMenuItem {
  background-color: #fff;
  width: 100vw;
  padding-left: 5rem;
  padding-top: 5rem;
  padding-bottom: 3.47rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  span {
    color: var(--Adentta-03, #293881);
    // font-family: "SF Pro Rounded";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .mobileLangChange {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    button {
      color: var(--Adentta-03, #293881);
      text-align: center;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    div {
      width: 0.7rem;
      height: 0.1rem;
      background: #98b4de;
      object-fit: cover;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobileAccordion {
  .mobileAccordionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    span {
      color: var(--Adentta-03, #293881);
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    img {
      width: 2.2rem;
      height: 2.2rem;
      flex-shrink: 0;
    }
  }
}
.toggle-icon {
  transition: transform 0.4s ease;
}
.toggle-icon.rotated {
  transform: rotate(180deg);
}
.mobileAccordionContent {
  ul {
    li {
      display: flex;
      flex-direction: column;
      color: var(--Adentta-03, #293881);
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-left: 3rem;
      padding-top: 3rem;
      padding-bottom: 1rem;
      gap: 3rem;
    }
  }
  h3 {
    display: flex;
    gap: 1.45rem;
    align-items: center;
    border-radius: 1.5rem;
    background: #fff;
    box-shadow: 2.5px 4px 6.2px 0px rgba(28, 39, 89, 0.05);
    width: 23.2002rem;
    height: 5.2463rem;
    padding: 2rem;
    flex-shrink: 0;
    img {
      width: 2.5rem;
      height: 2.5rem;
      flex-shrink: 0;
      object-fit: contain;
    }
    span {
      color: $adentta-01;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.032rem;
    }
  }
}
// ? MobileMenu.jsx
// ! MobileMenu

.selectProductSort {
  font-size: 1.5rem;
  select {
    color: #293881 !important;
  }
}
.selectProductSortStatus {
  border: none;
  outline: none;
}

.infoMessageSearch {
  text-align: center;
  color: #293881;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 7rem 0;
}
